@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

.header {
  display: flex;
  width: 100%;
  height: 63px;
  padding: 14px 89px 13px 89px;
  justify-content: center;
  align-items: center;
}

.location .location__link {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 17px;
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  background: var(--Grey-2, #eaeaea);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.location .location__link__img {
  width: 12px;
  height: 16px;
}
.location .location__infos {
  background: var(--Background, #f6f6f6);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location .location__infos__h1 {
  margin: 40px 50px 20px 50px;
  text-align: center;
  width: 275px;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}
.location .location__infos__h2 {
  color: #353535;
  text-align: center;
  width: 315px;
  height: 46px;
  margin: 0 20px;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
}
.location .location__infos__a {
  text-decoration: none;
  margin: 16px 0 40px 0;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location .location__infos__a:hover {
  font-size: 0.9rem;
}

.functioning {
  background-color: #fff;
  height: 440px;
  padding: 50px 20px;
}
.functioning .functioning__title {
  margin-bottom: 24px;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  color: #000;
}
.functioning .functioning__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}
.functioning .functioning__container .functioning__container_bullet {
  width: 24px;
  height: 24px;
  background-color: #9356dc;
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.functioning .functioning__container .functioning__container__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 322px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--Background, #f6f6f6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.functioning .functioning__container .functioning__container__link .functioning__container__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 22px;
}
.functioning .functioning__container .functioning__container__link .functioning__container_p {
  width: 211px;
  height: 100%;
  flex-shrink: 0;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  color: #000;
}
.functioning .functioning__container .functioning__container__link .functioning__container_p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.functioning .functioning__container .functioning__container__link:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.371);
}
.functioning .functioning__container .functioning__container__link:hover .functioning__container__svg__svg {
  color: #9356dc;
}

.restaurant {
  background: var(--Background, #f6f6f6);
  padding: 0 18px 50px 18px;
}
.restaurant .restaurant__title {
  padding: 50px 0 18px 0;
  color: #000;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  color: #000;
}
.restaurant .restaurant__container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurant .restaurant__card {
  position: relative;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restaurant .restaurant-card__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restaurant .restaurant-card-picture {
  width: 100%;
  height: 231px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant .restaurant-card-picture__img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurant .restaurant-card__new {
  position: absolute;
  right: 12px;
  top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background: var(--Green, #99e2d0);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurant .restaurant-card__new__text {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #008766;
}
.restaurant .restaurant-card__description {
  padding: 10px 0;
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  padding-left: 13px;
  padding-right: 13px;
}
.restaurant .restaurant-card__description__title {
  width: 267px;
  height: 20px;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}
.restaurant .restaurant-card__description__p {
  width: 100%;
  height: 24px;
  font-family: "Roboto";
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
}

.like-checkbox {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 22px;
  height: 21px;
  opacity: 0;
}

#heart__full1,
#heart__full2,
#heart__full3,
#heart__full4 {
  opacity: 0;
  width: 0;
  height: 0;
}

@keyframes heartAnim {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}
#heart__full1:hover {
  animation: heartAnim 0.3s ease forwards;
}

#heart__full2:hover {
  animation: heartAnim 0.3s ease forwards;
}

#heart__full3:hover {
  animation: heartAnim 0.3s ease forwards;
}

#heart__full4:hover {
  animation: heartAnim 0.3s ease forwards;
}

.footer {
  background: var(--Grey, #353535);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 22px 25px;
  box-sizing: border-box;
  bottom: 0;
  gap: 16px;
}
.footer .footer__title {
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  font-family: "Shrikhand", cursive;
}
.footer .footer__container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer .footer__container__link {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}
.footer .footer__container :nth-child(3) {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
.footer .footer__container :nth-child(4) {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.body .palette__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  height: 63px;
  width: 100%;
  background: var(--White, #fff);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.body .palette__header .palette__header__a {
  position: absolute;
  left: 17px;
}
.body .palette__header .palette__header__img {
  width: 197px;
  height: 36px;
  padding: 0px 19px 0px 16px;
}
.body .palette__presentation {
  width: 100%;
  height: 225px;
}
.body .palette__presentation .palette__header__img {
  width: 100%;
  height: 275px;
  flex-shrink: 0;
  object-fit: cover;
}
.body .main {
  border-radius: 50px 50px 0 0;
  width: 100%;
  background-color: #f6f6f6;
  padding: 32px 17px 0 17px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  position: relative;
}
.body .main__menu__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 13px 0 0;
}
.body .main__menu__title__text {
  font-family: "Roboto";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #101010;
  font-family: "Shrikhand";
}
.body .main__menu__entrees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 100%;
  flex-wrap: nowrap;
}
.body .main__menu__entrees .main__menu__entrees__title {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
  text-transform: uppercase;
  font-family: "Roboto";
}
.body .main__menu__entrees .main__menu__entrees__title__hr {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  border: none;
}
.body .main__menu__entrees__card {
  border-radius: 15px 0 0 15px;
  width: 100%;
  gap: 5px;
  height: 100%;
}
.body .main__menu__entrees__card .main__menu__entrees__card__content {
  border-radius: 15px 0 0 15px;
  background: var(--White, #fff);
  box-shadow: 0px 4.011px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
  height: 100%;
  width: 100%;
}
.body .main__menu__entrees__card .main__menu__entrees__card__content .main__menu__entrees__card__content__h3 {
  height: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto";
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
}
.body .main__menu__entrees__card .main__menu__entrees__card__content .main__menu__entrees__card__content__p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Roboto";
  font-family: "Roboto";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.body .main__menu__entrees__card .main__menu__entrees__card__content .main__menu__entrees__card__content__p .main__menu__entrees__card__content__price {
  font-family: "Roboto";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #353535;
}
.body .order__button {
  width: 186px;
  height: 50px;
  border: none;
  border-radius: 25px;
  margin-bottom: 50px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}
.body .order__button:hover {
  background: var(--Button-Gradient, linear-gradient(193deg, rgba(146, 86, 220, 0.631372549) -11.44%, rgba(255, 121, 217, 0.6196078431) 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.645);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}

.main__menu__title > .heart {
  position: relative;
  height: 22px;
  width: 22px;
}

#heart__full {
  opacity: 0;
}

.like-checkbox {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.validDiv {
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
  margin-bottom: 20px;
}

.validDiv:nth-child(2) {
  animation-delay: 0.2s;
}

.validDiv:nth-child(3) {
  animation-delay: 0.4s;
}

.validDiv:nth-child(4) {
  animation-delay: 0.6s;
}

.restaurant-card__description__p {
  display: flex;
  justify-content: space-between;
}

.heart {
  width: 21px;
  height: 22px;
  position: relative;
}

.heart__svg {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 1024px) {
  .body .main__menu__title {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    padding: 0 13px 0 0;
  }
  .location .location__infos__h1,
  .location .location__infos__h2 {
    width: 100%;
  }
  .heart .heart__svg {
    cursor: pointer;
    position: absolute;
  }
  .footer {
    background: var(--Grey, #353535);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 22px 25px;
    box-sizing: border-box;
    bottom: 0;
    gap: 16px;
  }
  .main__menu__title__text {
    font-family: "Roboto";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #101010;
    font-family: "Shrikhand";
  }
  .functioning {
    display: flex;
    padding: 50px 180px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  .functioning .functioning__container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .functioning__title {
    width: calc(100% + 24px);
  }
  .restaurant__container {
    flex-direction: row;
  }
  .restaurant .restaurant__container {
    flex-direction: row;
    gap: 50px 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .restaurant .restaurant__card {
    width: 490px;
  }
  .restaurant__title {
    margin-left: 15px;
  }
  .restaurant {
    padding: 0 180px;
    padding-bottom: 30px;
  }
  .footer {
    width: 100%;
    height: 114px;
  }
  .footer #footer__container {
    display: flex;
    box-sizing: border-box;
    flex-direction: row-reverse;
    padding: 30px 25px;
    gap: 16px;
    align-items: center;
  }
  .footer .footer__container {
    flex-direction: row;
  }
  .footer .footer__title {
    display: flex;
    width: 139px;
    height: 27px;
    padding-right: 1.418px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .footer .footer__container {
    width: 50%;
    justify-content: space-evenly;
  }
  .body .main {
    width: 1055px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .validDiv:hover {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .validDiv:hover .imageValid {
    height: 69px;
    width: 59px;
    display: block;
    animation: increaseWidth 0.5s ease;
  }
}
.validDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}
.validDiv .imageValid {
  height: 69px;
  width: 0px;
  display: none;
}

.validDiv:hover {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.validDiv:hover .imageValid {
  height: 69px;
  width: 59px;
  display: block;
  animation: increaseWidth 0.5s ease;
}
@keyframes increaseWidth {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 59px;
  }
}

@media screen and (max-width: 1024px) {
  .validDiv:hover {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .validDiv:hover .imageValid {
    height: 69px;
    width: 59px;
    display: block;
    animation: increaseWidth 0.5s ease;
  }
  @keyframes increaseWidth {
    from {
      opacity: 0;
      width: 0px;
    }
    to {
      opacity: 1;
      width: 59px;
    }
  }
  .validDiv:hover .ellisis,
  .validDiv:hover .main__menu__entrees__card__content__h3 {
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #008766;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#pageContent {
  visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
#pageContent {
  animation: fadeIn 1s forwards;
}

@keyframes hideLoader {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}
#loader {
  animation: hideLoader 1s forwards;
}

.heart__svg {
  cursor: pointer;
}

.main__menu__entrees__card__content {
  cursor: pointer;
}

.order__button {
  cursor: pointer;
  text-transform: capitalize;
}

#ohmyfood {
  font-family: "Roboto";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #333;
  font-family: "Shrikhand", cursive;
}

.header__omf {
  text-decoration: none;
}

.location__link__town {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #353535;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.location__link__town:focus {
  padding: 10px;
  border: 1px solid #9356dc;
  background-color: #ffffff;
}

.functioning__container__svg__svg {
  color: #7e7e7e;
}

/*# sourceMappingURL=style.css.map */
