@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

// body {
//   width: 100%;
//   height: 100vh;
// }
@mixin font($weight, $size, $color) {
  font-family: "Roboto";
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: normal;
  color: $color;
}

.header {
  display: flex;
  width: 100%;
  height: 63px;
  padding: 14px 89px 13px 89px;
  justify-content: center;
  align-items: center;

  // border: 1px solid red;
}

.location {
  .location__link {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 17px;
    @include font(500, 1rem, #000);
    background: var(--Grey-2, #eaeaea);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .location__link__img {
    width: 12px;
    height: 16px;
  }

  .location__infos {
    background: var(--Background, #f6f6f6);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .location__infos__h1 {
    margin: 40px 50px 20px 50px;
    text-align: center;
    width: 275px;
    @include font(700, 24px, #000);
  }
  .location__infos__h2 {
    color: #353535;
    text-align: center;
    width: 315px;
    height: 46px;
    margin: 0 20px;
    @include font(300, 18px, #000);
  }
  .location__infos__a {
    text-decoration: none;
    margin: 16px 0 40px 0;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: var(
      --Button-Gradient,
      linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
    );
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .location__infos__a:hover {
    font-size: 0.9rem;
  }
}

.functioning {
  background-color: #fff;
  // border: 1px solid red;
  height: 440px;
  padding: 50px 20px;
  .functioning__title {
    margin-bottom: 24px;
    @include font(bold, 1.5rem, #000);
  }
  .functioning__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid rgb(0, 255, 76);
    .functioning__container_bullet {
      width: 24px;
      height: 24px;
      background-color: #9356dc;
      color: white;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .functioning__container__link {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      width: 322px;
      height: 72px;
      flex-shrink: 0;
      border-radius: 20px;
      background: var(--Background, #f6f6f6);
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

      .functioning__container__svg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 22px;
      }

      .functioning__container_p {
        // border: 1px solid red;
        width: 211px;
        height: 100%;
        flex-shrink: 0;
        @include font(500, 16px, #000);
        color: #000;
      }
      .functioning__container_p {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .functioning__container__link:hover {
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.371);
    }
  }
}

.restaurant {
  background: var(--Background, #f6f6f6);
  padding: 0 18px 50px 18px;

  .restaurant__title {
    padding: 50px 0 18px 0;
    color: #000;
    @include font(bold, 1.5rem, #000);
  }
  .restaurant__container {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .restaurant__card {
    position: relative;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .restaurant-card__link {
    // width: 100%;
    // border: 1px solid red;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .restaurant-card-picture {
    width: 100%;
    height: 231px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
  }
  .restaurant-card-picture__img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .restaurant-card__new {
    position: absolute;
    right: 12px;
    top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 29px;
    border-radius: 2px;
    background: var(--Green, #99e2d0);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .restaurant-card__new__text {
    @include font(500, 14px, #008766);
  }
  .restaurant-card__description {
    padding: 10px 0;
    // border: 1px solid red;
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding-left: 13px;
  }
  .restaurant-card__description__title {
    width: 267px;
    height: 20px;
    @include font(700, 18px, #000);
  }
  .restaurant-card__description__p {
    width: 247px;
    height: 24px;
    @include font(300, 17px, #000);
  }
  .like-checkbox {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 22px;
    height: 21px;
    opacity: 0;
  }
  #heart__full {
    opacity: 0;
  }
  #like-checkbox1:checked + .heart-label1 {
    #heart__full {
      opacity: 1;
    }
  }
  #like-checkbox2:checked + .heart-label2 {
    #heart__full {
      opacity: 1;
    }
  }
  #like-checkbox3:checked + .heart-label3 {
    #heart__full {
      opacity: 1;
    }
  }
  #like-checkbox4:checked + .heart-label4 {
    #heart__full {
      opacity: 1;
    }
  }
  .heart {
    position: absolute;
    right: 25px;
    bottom: 15px;

    .heart__svg {
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
  }
}

.footer {
  background: var(--Grey, #353535);
  display: flex;
  flex-direction: column;
  padding: 22px 25px;

  gap: 16px;
  .footer__title {
    @include font(400, 18px, #fff);
    font-family: "Shrikhand", cursive;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .footer__container__link {
    text-decoration: none;
    @include font(500, 16px, #fff);
  }
  .footer__container :nth-child(3) {
    @include font(400, 16px, #fff);
  }
  .footer__container :nth-child(4) {
    @include font(400, 16px, #fff);
  }
}

// La palette du goût
.body {
  position: relative;
// border: 1px solid red;
  // height: 100hv;
  // width: 100%;
  // box-sizing: border-box;

  .palette__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    height: 63px;
    width: 100%;
    background: var(--White, #fff);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    .palette__header__a {
      position: absolute;
      left: 17px;
    }
    .palette__header__img {
      width: 197px;
      height: 36px;
      padding: 0px 19px 0px 16px;
    }
  }

  .palette__presentation {
    // border: 1px solid red;
    width: 100%;
    height: 275px;

    .palette__header__img {
      width: 100%;
      height: 275px;
      flex-shrink: 0;
      object-fit: cover;
    }
  }

  .main {
    position: absolute;
    left: 0;
    top: 285px;
    border-radius: 50px 50px 0 0;
    width: 100%;
    flex-shrink: 0;
    background-color: #f6f6f6;
    padding: 32px 17px 0 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  .main__menu__title {
    // border: 1px solid red;
    width: 341px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main__menu__title__text {
    @include font(400, 28px, #101010);
    font-family: "Shrikhand";
  }

  .main__menu__entrees {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    .main__menu__entrees__title {
      @include font(300, 16px, #000);
      text-transform: uppercase;
      font-family: "Roboto";
    }
    .main__menu__entrees__title__hr {
      width: 40px;
      height: 3px;
      background-color: #99e2d0;
      border: none;
    }
  }
  .main__menu__entrees__card {
    border-radius: 15px;
    background: var(--White, #fff);
    box-shadow: 0px 4.011px 15px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 15px;
    width: 100%;

    .main__menu__entrees__card__content {
      width: 100%;
      .main__menu__entrees__card__content__h3 {
        height: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: "Roboto";
        @include font(500, 18px, #000);
      }
      .main__menu__entrees__card__content__p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: "Roboto";
        @include font(300, 15px, #000);
        display: flex;
        justify-content: space-between;
        gap: 5px;
        .main__menu__entrees__card__content__price {
          @include font(700, 15px, #353535);
        }
      }
    }
  }
  .order__button {
    width: 186px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background: var(
      --Button-Gradient,
      linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
    );
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    @include font(500, 16px, #fff);
  }
}
